# Python
*.pyc
__pycache__/
*.pyo
*.pyd
venv/
env/
*.sqlite3

# Django
*.log
*.pot
*.pyc
db.sqlite3
/staticfiles/
media/

# Node / Frontend
node_modules/
build/
.next/
dist/
.env

# IDEs / OS
.vscode/
.idea/
.DS_Store
